	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#personal-center" href="#password-safe">
				<span>
				<img src="<%=image_url("user/key.png")%>" /></span>
				密码安全设置</a>
		</div>
		<div id="password-safe" class="accordion-body collapse">
				<div class="accordion-inner">		
					<div class="personal-line">
					<div class="personal-password-safe-half">
						<font class="personal-tittle">
							登入密码修改：
							<font class="color-orange" id='password-message'></font>
						</font>
					</div>
					<div class="personal-password-safe-half">
						<label>旧密码：</label>
						<input type="password" class="input-middle" id='current-password'/></div>
					<div class="personal-password-safe-button"></div>
				</div>

				<div class="personal-line">
					<div class="personal-password-safe-half">
					<label>新的密码：</label>
						<input type="password" class="input-middle" id='new-password'/>
					</div>
					<div class="personal-password-safe-half">
						<label>重新输入：</label>
						<input type="password" class="input-middle" id='new-password-confirm'/></div>
					<div class="personal-password-safe-button">
						<button class="bitwin-btn bitwin-btn-longth password">确定</button>
					</div>
				</div>

			<div class="personal-line">
				<div class="personal-password-safe-half">
					<font class="personal-tittle">
						安全提示问题：<font class="color-orange">还没设置</font></font>
				</div>
				<div class="personal-password-safe-half">

				</div>
				<div class="personal-password-safe-button"></div>
			</div>

			<div class="personal-line">
				<div class="personal-password-safe-half">
				<select class="personal-area personal-selection-longth" id="area">
			 		<option>请选择你的问题：</option>
			 		<option>XXX</option>
			 		</select>
				</div>
				<div class="personal-password-safe-half">
					<label>重新输入：</label>
					<input type="password" class="input-middle" /></div>
				<div class="personal-password-safe-button">
					<button class="bitwin-btn bitwin-btn-longth">确定</button>
				</div>
			</div>


			<div class="personal-line">
				<div class="personal-password-safe-half">
					<font class="personal-tittle">
						交易密码：<font class="color-orange">还没设置</font></font>
				</div>
				<div class="personal-password-safe-half">

				</div>
				<div class="personal-password-safe-button"></div>
			</div>


			<div class="personal-line">
				<div class="personal-password-safe-half">
					<label>新的交易密码：</label>
					<input type="password" class="input-middle" /></div>
				<div class="personal-password-safe-half">
					<label>重新输入：</label>
					<input type="password" class="input-middle" />
				</div>
				<div class="personal-password-safe-button">
					<button class="bitwin-btn bitwin-btn-longth">确定</button>
				</div>
			</div>

			</div>
		</div>
	</div>