<div class="personal-id" id="nav2">
<div class="personal-content" style="padding-bottom:50px;">
		<div class="breadcrumb font-big"> <font class="margin-left-10">充值</font>
			<select class="margin-left-10 recharge-selct">
				<option>Bitcoin</option>
				<option>CNY</option>

			</select>

			<img src="/assets/exchange/unlock.png" class="margin-left-20" /> <font class="margin-left-10">可用  6.1215445BTC</font>
			<img src="/assets/exchange/lock.png" class="margin-left-10" />	
			<font class="color-gray margin-left-10">锁定  6.1215445BTC</font>
		</div>
		<div class="margin-top-middle float-left">
			<div class="recharge-left">
				<span>充值比特币到一下地址</span>
				<span class="color-orange"><%=current_user.btc_operation.try :address%></span>
			</div>
			<div class="recharge-right">
				<img src="/assets/temp/weixin.jpg" />
			</div>
		</div>
	</div>

<%= render 'users/record' %>
</div>