
	<div class="personal-content top-line">
	<div class="withdraw-title">
		<span>充值提现记录</span>
		<select>
			<option>提现</option>
			<option>交易</option>
		</select>

		<select >
			<option>人民币</option>
			<option>比特币</option>
		</select>
	</div>
	<div class="margin-top-short withdraw-table">
		<table class="exchange-table">
			<tr>
				<th>时间</th>
				<th>数量</th>
				<th>状态</th>
			</tr>
			<%current_user.bic_receive_operations.each do |o|%>
				<tr>
					<td><%=o.created_at.localtime.to_s(:db)%></td>
					<td><%=o.amount%></td>
					<td><%= o.status == OperationStatus::UN_CONFIRMED ? "系统确认中":"已确认"%></td>
				</tr>
			<%end%>
		</table>
	</div>
	</div>