
	<div class="personal-content top-line">
	<div class="withdraw-title">
		<span>充值提现记录</span>
		<select>
			<option>提现</option>
			<option>交易</option>
		</select>

		<select >
			<option>人民币</option>
			<option>比特币</option>
		</select>
	</div>
	<div class="margin-top-short withdraw-table">
		<table class="exchange-table">
			<tr>
				<th>时间</th>
				<th>类型</th>
				<th>方式</th>
				<th>帐号</th>
				<th>数量</th>
				<th>状态</th>
			</tr>
			<tr>
				<td>2031.8.13 &nbsp; 12:34</td>
				<td>人民币充值</td>
				<td>支付宝人工</td>
				<td>管理员手动</td>
				<td>￥200</td>
				<td>待处理</td>
			</tr>
			<tr>
				<td>2031.8.13 &nbsp; 12:34</td>
				<td>人民币充值</td>
				<td>支付宝人工</td>
				<td>管理员手动</td>
				<td>￥200</td>
				<td>待处理</td>
			</tr>
			<tr>
				<td>2031.8.13 &nbsp; 12:34</td>
				<td>人民币充值</td>
				<td>支付宝人工</td>
				<td>管理员手动</td>
				<td>￥200</td>
				<td>待处理</td>
			</tr>
			<tr>
				<td>2031.8.13 &nbsp; 12:34</td>
				<td>人民币充值</td>
				<td>支付宝人工</td>
				<td>管理员手动</td>
				<td>￥200</td>
				<td>待处理</td>
			</tr>
			<tr>
				<td>2031.8.13 &nbsp; 12:34</td>
				<td>人民币充值</td>
				<td>支付宝人工</td>
				<td>管理员手动</td>
				<td>￥200</td>
				<td>待处理</td>
			</tr>
			<tr>
				<td>2031.8.13 &nbsp; 12:34</td>
				<td>人民币充值</td>
				<td>支付宝人工</td>
				<td>管理员手动</td>
				<td>￥200</td>
				<td>待处理</td>
			</tr>
		</table>
	</div>
	</div>