<div class="personal-id" id="nav3">
<div class="personal-content" style="padding-bottom:50px;">
		<div class="breadcrumb font-big"> <font class="margin-left-10">提现</font>
			<select class="margin-left-10 withdraw-selct">
				<option>Bitcoin</option>
				<option>CNY</option>

			</select>

			<img src=<%=image_url "exchange/unlock.png" %> class="margin-left-20" /> <font class="margin-left-10">可用  6.1215445BTC</font>
			<img src=<%=image_url "exchange/lock.png" %> class="margin-left-10" />	
			<font class="color-gray margin-left-10">锁定  6.1215445BTC</font>
		</div>


		<div class="margin-top-middle float-left">
		<div class="withdraw-line">
			<span>输入您的比特币提现地址：</span>
			<input type="text" />
			<a class="color-orange" href="#">
			+从地址薄选择
			</a>
		</div>
		<div class="withdraw-line">
			<span>输入提现数量：</span>
			<input type="text" />

			手续费: *0.001 = <font class="color-orange">0.01BTC</font>
		</div>
		<div class="withdraw-line">
			<span>手机验证码：</span>
			<input type="text" style="width:70px;" />
			<button class="bitwin-btn">获取手机验证码</button>
		</div>
		<div class="withdraw-line">
			<button class="bitwin-btn input-middle pull-right" style="margin-right:80px;padding-right:10px;">提交
			<img src=<%=image_url "user/to.png" %> class="pull-right" style="margin-top:2px;" />
			</button>
		</div>
		</div>
	</div>

<%= render 'users/record' %>
</div>