
<div class="personal-left">
	<div class="personal-nav">
	<ul class="personal-nav-ul">
		<li class="personal-nav-li">
			<span>
				<img src="/assets/user/personal-information.png" />	
			</span>
			<a href="#">基本资料</a>
		</li>
		<li class="personal-nav-li personal-nav-li-active">
			<span>
				<img src="/assets/user/despoit.png" />	
			</span>
			<a href="#">账户充值</a>
		</li>
		<li class="personal-nav-li">
			<span>
				<img src="/assets/user/withdrawal.png" />	
			</span>
			<a href="#">账户提现</a>
		</li>
		<li class="personal-nav-li">
			<span>
				<img src="/assets/user/user-password.png" />	
			</span>
			<a href="#">密码设置</a>
		</li>
		<li class="personal-nav-li">
			<span>
				<img src="/assets/user/iphone.png" />	
			</span>
			<a href="#">Google验证</a>
		</li>
		<li class="personal-nav-li">
			<span>
				<img src="/assets/user/sms.png" />	
			</span>
			<a href="#">短信验证</a>
		</li>
		<li class="personal-nav-li">
			<span>
				<img src="/assets/user/ip.png" />	
			</span>
			<a href="#">IP记录</a>
		</li>
	</ul>
	</div>
</div>

<div class="personal-right">
	<%= render 'users/basic_info' %>
</div>
