
<div class="exchange-floor">
	<div class="tagpage">
		<ul class="nav nav-tabs nav-exchange-li">
			<li class="active">
				<a href="#">Order</a>
			</li>
			<li>
				<a href="#">行情图</a>
			</li>
			<li>
				<a href="#">深度表</a>
			</li>
		</ul>

		<select class="exchange-select pull-right" style="margin-top:-35px;">
			<option>BitcCoin</option>
			<option>Cny</option>
		</select>
	</div>
	<div class="tagcontent-wide">
		<div class="exchange-table-base">
		<span class="exchange-table-top exchange-table-font-big ">买单</span>
		<div class="exchange-table-content">
			<table class="exchange-table">
				<tr>
					<td>
						<span class="jindutiao background-green float-right" style="width:50px;"></span>
					</td>
					<td>2.000225</td>
					<td>￥611.20</td>
				</tr>
				<tr>
					<td>
						<span class="jindutiao background-green float-right" style="width:50px;"></span>
					</td>
					<td>2.000225</td>
					<td>￥611.20</td>
				</tr>
				<tr>
					<td>
						<span class="jindutiao background-green float-right" style="width:120px;"></span>
					</td>
					<td>2.000225</td>
					<td>￥611.20</td>
				</tr>
				<tr>
					<td>
						<span class="jindutiao background-green float-right" style="width:50px;"></span>
					</td>
					<td>2.000225</td>
					<td>￥611.20</td>
				</tr>
				<tr>
					<td>
						<span class="jindutiao background-green float-right" style="width:80px;"></span>
					</td>
					<td>2.000225</td>
					<td>￥611.20</td>
				</tr>
				<tr>
					<td>
						<span class="jindutiao background-green float-right" style="width:30px;"></span>
					</td>
					<td>2.000225</td>
					<td>￥611.20</td>
				</tr>
				<tr>
					<td>
						<span class="jindutiao background-green float-right" style="width:150px;"></span>
					</td>
					<td>2.000225</td>
					<td>￥611.20</td>
				</tr>
				<tr>
					<td>
						<span class="jindutiao background-green float-right" style="width:150px;"></span>
					</td>
					<td>2.000225</td>
					<td>￥611.20</td>
				</tr>
				<tr>
					<td>
						<span class="jindutiao background-green float-right" style="width:150px;"></span>
					</td>
					<td>2.000225</td>
					<td>￥611.20</td>
				</tr>
				<tr>
					<td>
						<span class="jindutiao background-green float-right" style="width:150px;"></span>
					</td>
					<td>2.000225</td>
					<td>￥611.20</td>
				</tr>
				<tr>
					<td>
						<span class="jindutiao background-green float-right" style="width:150px;"></span>
					</td>
					<td>2.000225</td>
					<td>￥611.20</td>
				</tr>
				<tr>
					<td>
						<span class="jindutiao background-green float-right" style="width:150px;"></span>
					</td>
					<td>2.000225</td>
					<td>￥611.20</td>
				</tr>

			</table>
			</div>
		</div>
		<div class="exchange-table-base">
		<span class="exchange-table-top exchange-table-font-big">卖单</span>
			<div class="exchange-table-content">
			<table class="exchange-table">
				<tr>
					<td>￥611.20</td>
					<td>2.000225</td>
					<td>
						<span class="jindutiao background-orange float-left" style="width:150px;"></span>
					</td>
				</tr>
				<tr>
					<td>￥611.20</td>
					<td>2.000225</td>
					<td>
						<span class="jindutiao background-orange float-left" style="width:50px;"></span>
					</td>
				</tr>
				<tr>
					<td>￥611.20</td>
					<td>2.000225</td>
					<td>
						<span class="jindutiao background-orange float-left" style="width:60px;"></span>
					</td>
				</tr>
				<tr>
					<td>￥611.20</td>
					<td>2.000225</td>
					<td>
						<span class="jindutiao background-orange float-left" style="width:20px;"></span>
					</td>
				</tr>
				<tr>
					<td>￥611.20</td>
					<td>2.000225</td>
					<td>
						<span class="jindutiao background-orange float-left" style="width:10px;"></span>
					</td>
				</tr>
				<tr>
					<td>￥611.20</td>
					<td>2.000225</td>
					<td>
						<span class="jindutiao background-orange float-left" style="width:50px;"></span>
					</td>
				</tr>
				<tr>
					<td>￥611.20</td>
					<td>2.000225</td>
					<td>
						<span class="jindutiao background-orange float-left" style="width:50px;"></span>
					</td>
				</tr>
			</table>
			</div>
		</div>
		<div class="exchange-table-base">
		<span class="exchange-table-top exchange-table-font-middle">
		最新成交价 <font class="color-green-deep">￥611.20</font>
		</span>
		<div class="exchange-table-content line-left">
			<table class="exchange-table">
				<tr>
				<td>07:26:31</td>
				<td class="color-orange">￥611.20</td>
				<th>1.23235435B</th>
				</tr>
				<tr>
				<td>07:26:31</td>
				<td class="color-orange">￥611.20</td>
				<th>1.23235435B</th>
				</tr>
				<tr>
				<td>07:26:31</td>
				<td class="color-orange">￥611.20</td>
				<th>1.23235435B</th>
				</tr>
				<tr>
				<td>07:26:31</td>
				<td class="color-green-deep">￥611.20</td>
				<th>1.23235435B</th>
				</tr>
				<tr>
				<td>07:26:31</td>
				<td class="color-orange">￥611.20</td>
				<th>1.23235435B</th>
				</tr>
				<tr>
				<td>07:26:31</td>
				<td class="color-orange">￥611.20</td>
				<th>1.23235435B</th>
				</tr>
			</table>
			</div>
		</div>
	</div>
</div>




<div class="exchange-floor margin-top-short">
	<div class="left">
	<div class="left-content">
		<table class="exchange-table">
			<tr>
			<td rowspan="2"><img src="/assets/exchange/lock.png" class="pull-right"/></td>
			<td class="color-gray"><%=current_user.btc_account.try :blocked%> BTC</td>
			<td rowspan="2"><img src="/assets/exchange/unlock.png" class="pull-right"/></td>
			<th><%=current_user.btc_account.try :amount%> BTC</th>
			</tr>
			<tr>
			<td class="color-gray"><%=current_user.cny_account.try :blocked%> CNY</td>
			<th><%=current_user.cny_account.try :amount%> CNY</th>
			</tr>
		</table>
		<div class="left-line">
		<label class="radio float-left">
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>			
				定价委托
			</label>
			<label class="radio float-left margin-left-10">
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">			
				市价委托
			</label>
			<label class="checkbox float-left margin-left-10">
    		<input type="checkbox" /> 暗池交易
  			</label>
		</div>

		<div class="left-line">
			<select id="select" style="margin-right:10px;">
		 		<option>买入</option>
		 		<option>卖出</option>
		 	</select>
		 	<input class="input-price-btc" /> 
		</div>


		<div class="left-line text-right">
		<img src="/assets/exchange/del.png" width="10" height="10" />
		<font>单价</font>
		 <input class="input-price-cny" style="margin-right:10px;" /> 
		</div>

		<div class="left-line">
		 	<span class="span-result shadow-radius background-gray-deep float-left">
		 	<img src="/assets/exchange/calculator-white.png" class="float-left" style="margin-left:3px;margin-top:2px;" />
		 		-￥711.20</span>
		 	<button class="submit-button float-left">OK</button>
		</div>
	</div>
	</div>



	<div class="right">
			<div class="tagpage">
			<ul class="nav nav-tabs nav-exchange-li">
				<li class="active">
					<a href="#">委托管理</a>
				</li>
				<li>
					<a href="#">交易记录</a>
				</li>
				<li>
					<a href="#">充值</a>
				</li>
				<li>
					<a href="#">提现</a>
				</li>
				<li>
					<a href="#">充值记录</a>
				</li>
			</ul>
		</div>
			<div class="tagcontent">
			<div class="tag-height">
				<table class="exchange-table">
					<tr>
						<th>时间</th>
						<th>类型</th>
						<th>数量</th>
						<th>价格</th>
						<th>总价</th>
						<th>操作</th>
					</tr>
					<tr>
						<td>2013.8.13 &nbsp; 07.26</td>
						<td>买入</td>
						<td>5.121B</td>
						<td>￥616.74</td>
						<td>￥2365.2</td>
						<td><a href="#"><img src="/assets/exchange/delwithdrawal.png" /></a></td>
					</tr>
					<tr>
						<td>2013.8.13 &nbsp; 07.26</td>
						<td>买入</td>
						<td>5.121B</td>
						<td>￥616.74</td>
						<td>￥2365.2</td>
						<td><a href="#"><img src="/assets/exchange/delwithdrawal.png" /></a></td>
					</tr>
					<tr>
						<td>2013.8.13 &nbsp; 07.26</td>
						<td>买入</td>
						<td>5.121B</td>
						<td>￥616.74</td>
						<td>￥2365.2</td>
						<td><a href="#"><img src="/assets/exchange/delwithdrawal.png" /></a></td>
					</tr>
					<tr>
						<td>2013.8.13 &nbsp; 07.26</td>
						<td>买入</td>
						<td>5.121B</td>
						<td>￥616.74</td>
						<td>￥2365.2</td>
						<td><a href="#"><img src="/assets/exchange/delwithdrawal.png" /></a></td>
					</tr>
					<tr>
						<td>2013.8.13 &nbsp; 07.26</td>
						<td>买入</td>
						<td>5.121B</td>
						<td>￥616.74</td>
						<td>￥2365.2</td>
						<td><a href="#"><img src="/assets/exchange/delwithdrawal.png" /></a></td>
					</tr>
					<tr>
						<td>2013.8.13 &nbsp; 07.26</td>
						<td>买入</td>
						<td>5.121B</td>
						<td>￥616.74</td>
						<td>￥2365.2</td>
						<td><a href="#"><img src="/assets/exchange/delwithdrawal.png" /></a></td>
					</tr>
					<tr>
						<td>2013.8.13 &nbsp; 07.26</td>
						<td>买入</td>
						<td>5.121B</td>
						<td>￥616.74</td>
						<td>￥2365.2</td>
						<td><a href="#"><img src="/assets/exchange/delwithdrawal.png" /></a></td>
					</tr>
					<tr>
						<td>2013.8.13 &nbsp; 07.26</td>
						<td>买入</td>
						<td>5.121B</td>
						<td>￥616.74</td>
						<td>￥2365.2</td>
						<td><a href="#"><img src="/assets/exchange/delwithdrawal.png" /></a></td>
					</tr>
					<tr>
						<td>2013.8.13 &nbsp; 07.26</td>
						<td>买入</td>
						<td>5.121B</td>
						<td>￥616.74</td>
						<td>￥2365.2</td>
						<td><a href="#"><img src="/assets/exchange/delwithdrawal.png" /></a></td>
					</tr>

				</table>
			</div>
			</div>
		</div>
	</div>
</div>
