<div class='email_confirmed' style="">
	<div class="devise-welcome">
		<span class="devise-welcome-content shadow-radius text-left">
		 恭喜您，您的雪球账户已经激活成功！ <br />
		 <font style="font-size:14px;">
			如果要开始交易 必须先设置交易密码和安全提示问题 <br />
			为了您的账户安全 强烈建议您开通 <br />
			手机短信验证或者Google身份验证 <br />
			祝您的雪球越滚越大～
			</font>
		</span>
	</div>
	<div style="text-align:right;width:500px;float:right;padding-right:20px;padding-top:40px;">
	  <a href="/">
	  	<button class="bitwin-btn">OK 现在就去设置 
	  		<img src="<%=image_url('icon/loginbutton.png')%>" />
			</button>
		</a>
	</div>
</div>