<div class='email_confirmed' style="">
	<img classs='message' src="<%=image_url('temp/zhuce2.jpg') %>" >
	<div style="text-align:right;width:500px;float:right;padding-right:20px;padding-top:40px;">
	  <a href="/">
	  	<button class="bitwin-btn">OK 现在就去设置 
	  		<img src="<%=image_url('icon/loginbutton.png')%>" />
			</button>
		</a>
	</div>
</div>