
<div class='signed_up'>
	<div class="devise-welcome">
		<span class="devise-welcome-content shadow-radius text-left">
		欢迎您成为雪球成员 <br />
		我们已经发送了一封激活邮件到您的信箱<br />
		请登入查收信箱激活邮件<br />
		激活邮件也有可能呗扔到垃圾箱里哦：）
		</span>
	</div>
</div>


<div class="signed_up margin-top-50">
	<div class="logup-input">
	<a href="<%=new_user_confirmation_path%>">
		<button class="devise-button">未收到邮件？重新发送
			<img src="<%=image_url('icon/loginbutton.png')%>"/>
		</button>
	</a>
	</div>
</div>