
<div class='signed_up'>
	<img src="<%=image_url('temp/zhuce1.jpg')%>">
</div>

<div class="signed_up margin-top-50">
	<div class="logup-input">
	<a href="<%=new_user_confirmation_path%>">
		<button class="devise-button">未收到邮件？重新发送
			<img src="<%=image_url('icon/loginbutton.png')%>"/>
		</button>
	</a>
	</div>
</div>