<div class="devise-content">
	<div class="devise-welcome">
		<span>选择其中一种方式重设您的密码</span>
	</div>

<%=form_tag found_password_check_users_path do %>
	<div class="logup-input margin-top-50">
		<select id="select" class="devise-select" style="margin-right:20px; " name='type'>
		 		<option value='email'>通过注册邮箱</option>
		 		<option value='phone'>通过手机</option>
		 		<option value='question'>通过安全提示问题</option>
		</select>
	</div>


	<div class="logup-input margin-top-50">
		<input type="text" placeholder="注册邮箱" class="devise-input devise-mail" name='value'/>
	</div>

	<div class="logup-input margin-top-50">
		<button class="devise-button">下一步<img src="<%=image_url 'icon/loginbutton.png'%>" /></button>
	</div>
	<%end%>
</div>