#config/application.yml
defaults: &defaults
  app_name: Bitwin
  app_host: bitwin.co
  china_sms:
    server: emay
    username: emay_username
    password: emay_password
  auth:
    sms_content: 验证码是：code
    sms_code_expire: 180
  smtp:
    address: smtp.exmail.qq.com
    port: 25
    authentication: plain
    user_name: yinchangxin@weidaxue.me
    password: email_password



development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults