common: &common
  adapter: mysql2
  encoding: utf8
  pool: 10
  username: travis
  password: 
  database: bitwin_dev
  host: localhost
  port: 3306

development:
  <<: *common

test:
  database: bitwin_test
  <<: *common

production:
  <<: *common