<span class="exchange-table-top exchange-table-font-middle">
最新成交价 <font class="color-green-deep">￥<%= @trades.first.ppc%></font>
</span>
<div class="exchange-table-content">
	<table class="exchange-table">
		<% @trades.each do |trade| %>
			<tr>
			<td><%= trade.created_at%></td>
			<td class="color-orange">￥<%= trade.ppc%></td>
			<th><%= trade.traded_btc%></th>
			</tr>
		<% end %>
	</table>
</div>