/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree ./plugins
 *= require_self
 *= require_tree .
 */

/* @import "bootstrap";*/


@charset "utf-8";

body{
	font-family:"微软雅黑";
	font-size:12px;
}


.top-bitwin{
	width:100%;
	float:left;
	height:53px;
	background:#393a3a;
	line-height:53px;
}


.container-bitwin{
	width:960px;
	height:auto;
	margin:0 auto;
}


.top-span-bitwin{
	color:#FFFFFF;
	padding:0px;
	margin:0px;
}

.top-message-bitwin{
	font-size:12px; 
}

.top-span-bitwin a{
	font-size:12px;
	color:#DDDDDD;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
}

.top-span-bitwin a:hover{
	color:#FFFFFF;	
}

.left-bitwin{
	width:200px;
	float:left;
}

.right-bitwin{
	float:left;
	width:720px;
	padding-left:40px;
}

.ad-font-bitwin{
	font-size:30px;
	font-weight:bold;
	line-height:80px;
}

.content-bitwin{
	width:100%;
	float:left;
	height:auto;
}


.nav-li-bitwin{
	width:auto;
	height:60px;
	background:#FFFFFF;
	float:right;
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	font-size:12px;
}

.nav-li-bitwin:hover{
	background:#f7f7f7;
	border-top:#e45827 3px solid;
	cursor:pointer;
	margin-top:-3px;
}

.nav-li-active-bitwin{
	width:auto;
	height:60px;
	background:#FFFFFF;
	float:right;
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	font-size:12px;
	background:#f7f7f7;
	border-top:#e45827 3px solid;
	cursor:pointer;
	margin-top:-3px;
}


em{
	color:#b9c2ce;
}

.nav-font-bitwin{
	font-weight:bold;
	font-size:16px;
}

.sub-nav-bitwin{
	width:100%;
	padding:0px;
	margin:0px;
	height:auto;
	list-style:none;
	padding-top:50px;
}

.sub-nav-bitwin a li{
	list-style:none;
	width:100%;
	height:30px;
	border-bottom:#FFFFFF 1px solid;
	line-height:30px;
	font-size:16px;
	color:#383635;
	text-decoration:none;
	padding-top:5px;
}

.sub-nav-bitwin a li:hover{
	color:#ea5413;
	text-decoration:none;
}

.sub-nav-bitwin a:hover{
	text-decoration:none;
}

.footer-bitwin{
	padding-top:20px;
	padding-bottom:20px;
}

.input-text-bitwin{
	width:300px;
	height:36px;
	line-height:36px;
	border:#333333 1px solid;
	border-radius:0px;
}

.btn-bitwin{
	height:36px;
	border:0px;
	background:#ea5518;
	color:#FFFFFF;
	font-size:14px;
	line-height:36px;
	font-family:"微软雅黑";
	padding-left:15px;
	padding-right:15px;
}

.bottom-table-bitwin{
	width:100%;
	line-height:25px;
}

.bottom-table-bitwin th{
	color:#FFF;
	border:0px;
	text-align:left;
}

.bottom-table-bitwin td{
	color:#FFF;
	border:0px;
}

.bottom-table-bitwin td a{
	color:#FFF;
	border:0px;
	text-decoration:none;
}

.bottom-table-bitwin td a:hover{
	text-decoration:underline;
}


